DATABASE_URL=postgresql://postgres:password@localhost:5432/content_aggregator
HUGGINGFACE_API_KEY=your_huggingface_token_here
GROQ_API_KEY=your_groq_token_here
REDDIT_CLIENT_ID=uOTnaE50MmBf7OZt5YlyNA
REDDIT_CLIENT_SECRET=xmr3w0-pBHIrrZuUD9TTZ4mry9tQhQ
NEWSAPI_KEY=your_newsapi_key

