@import 'variables.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {
  .progress {
    @apply rounded-none h-1 mx-0;
    --progress-color:var(--np-color-accent)!important; 
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .menu {
    @apply p-0;
  }
  .menu li {
    @apply hover:bg-[var(--np-background)] rounded-md;
  }
  .menu li:hover a{
    @apply text-[var(--np-color-primary)] ;
  }

  .tab-active, .tab-active:hover, .tab-active:focus {
    @apply [--tab-bg:var(--np-background)] [--tab-color:var(--np-color-primary)];

    border: var(--np-background); 
  }
  .tabs.tabs-lift:has(.tab-active) .tab:not(.tab-active){
    @apply text-[var(--np-background)]; 
  }

  .tabs.tabs-lift:has(.tab-active) .tab:not(.tab-active){
    @apply text-[var(--np-background)]; 
  }
  .tabs.tabs-lift:has(.tab-active) {
    @apply bg-[var(--np-color-primary)];
  }

  .tabs.tabs-lift:has(.tab-active) .tab:not(.tab-active):hover {
    @apply text-[var(--np-color-primary)] !important;
  }
  .tabs.tabs-lift:has(.tab-active):hover .tab.tab-active {
    @apply text-[var(--np-color-primary)] !important;
  } 
  .tab-lifted.tab-active {
    @apply [--tab-border-color:var(--np-color-primary)];
  }
  .tab.tab-active {
    @apply mx-[1px];
  }
  .tab-lifted:not(.tab-active):hover {
    @apply z-50;
  }
  .tab:not(.tab-active) {
     @apply border-x;
  } 
  .label-text, .label-text-alt{
    @apply text-[var(--np-color-primary)];
  }

}
@layer base {
  .font-primary {
    font-family: var(--np-font-primary);
  }
  .font-secondary {
    font-family: var(--np-font-secondary);
  }
  .text-extrasmall {
    font-size: 0.7rem;
  }
  .np-grid {
    @apply grid-rows-[repeat(auto-fit,minmax(15vh,auto))] min-h-[15vh];
  }
  .wrapper {
    height: calc(100vh - 14.5rem);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .tabs-no-border .tab {
    border-bottom: transparent;
  }
  .bg-article-list {
    @apply bg-[var(--np-background)] hover:bg-[var(--np-foreground)]
  }
  .text-sm {
    line-height: 0.8rem;
  }
}

@layer layout {
  .app {
    @apply min-h-screen bg-[var(--np-background)] relative max-w-[1600px] mx-auto;
  }
  .page {
    @apply px-4 py-8 min-h-screen bg-[var(--np-background)];
  }
  .grid-header-top {
    @apply border-[var(--np-color-primary)];
  }
  .grid-header-bottom {
    @apply grid-gap grid grid-cols-[12%,auto,7rem] grid-rows-1 bg-[var(--np-color-primary)];
  }
  .grid-article-page {
    @apply grid grid-cols-10 np-grid bg-[var(--np-color-primary)] font-primary grid-gap;
  }
  .grid-item-article-page-block {
    @apply col-span-8 row-span-5 col-start-1 row-start-1;
  }
  .grid-category-page {
    @apply grid grid-cols-10 np-grid bg-[var(--np-color-primary)] font-primary grid-gap pt-[2px];
  }
  .grid-front-page {
    @apply frontpage font-primary grid grid-cols-10 np-grid;
  }
  .grid-search-view {
    @apply grid font-primary np-grid grid-cols-10 bg-[var(--np-color-primary)] ;
      .grid-item-article-list {
        @apply col-span-4 row-span-5 col-start-7 row-start-1 overflow-scroll rounded-tl-md;
      }
      .grid-item-foreground-block {
        @apply col-span-6 row-span-2 bg-[var(--np-foreground)] min-h-[30rem];
      }
  }
  .grid-item-article-list {
    @apply col-span-2 row-span-5 col-start-9 row-start-1 overflow-scroll
  }
  .grid-item-article-block-top {
    @apply col-span-5 row-span-5 col-start-4 row-start-1;
  }
  .grid-item-article-block-top-alt {
    @apply col-span-6 row-span-5 col-start-1 row-start-1;
  }
  
  .grid-item-article-block-bottom {
    @apply col-span-4 row-span-3 row-start-6;
  }
  /* .grid-item-article-block-bottom-alt {
    @apply col-span-4 row-span-3 row-start-1;
  } */
  .grid-item-article-block {
    @apply col-span-6 row-span-5 col-start-5 row-start-6;
  }
  /* .grid-item-article-block-alt {
    @apply col-span-6 row-span-5 col-start-1 row-start-6;
  } */
  .grid-item-foreground-block {
    @apply col-span-4 row-span-2 bg-[var(--np-foreground)];
  }
  .grid-item-article-block-side {
    @apply col-span-3 row-span-5;
  }
  .grid-item-article-block-side-alt {
    @apply col-span-4 row-span-5;
  }
  .footer-front-page {
    @apply col-span-10 row-span-2 text-center content-center bg-[var(--np-background)] py-4 rounded-br-2xl;
  }

  .category-page-flex {
    @apply flex flex-row flex-wrap border-[var(--np-color-primary)];
  }
}
.tab-active {
  color: var(--np-color-primary);
}


* {
  border-color: var(--np-color-primary);
}

html, body {
  color: var(--np-color-primary);
}


footer {
  border-top: 1px solid var(--np-color-primary);
  position:absolute;
  bottom:-3rem;
}

.grid-gap {
  gap: 1px;
}

.frontpage {
  background-color: var(--np-color-primary);
  padding-top: 2px;
  gap: 1px;
}

.frontpage .grid-row-top {
  height: 75vh;
}

.frontpage .grid-row-bottom {
  max-height: 25vh;
}
.menu {
  z-index: 100;
}

.header h1,
.footer h1 {
  font-weight: 900;
}
.progress {
  --progress-color: var(--np-color-accent)!important;
  border-radius: none;
}

